body {
	background: #EEEEEE;
}

#header{
	width: 900px;
	margin-left: auto ;
	margin-right: auto ;
	background-color: #777777;
	color: white;
	font-size: 30px;
	text-align: center;
	padding: 10px;
}

#mainDiv {
	width: 900px;
	margin-left: auto ;
	margin-right: auto ;
	padding: 10px;
	overflow: hidden;
}

#bellsnwhistles {
	float: left;
	padding: 30px;
}

#bellsnwhistles .slider_title {
	text-align: center;
	min-width: 200px
}

#bellsnwhistles #slider_value {
	overflow: hidden;
	position: relative;
	text-align: center;
	left: 8px;
	width: 60px;
	border: 1px solid black;
	background: #ffffff
}

.combolabel {
	float: left;
	padding-left: 20px;
	padding-right: 10px;
}

.combobox {
	padding-bottom: 10px;
}

#appcontainer {
	overflow: hidden;
}

#threshold_slider {
	padding-bottom: 10px;
}

#bellsnwhistles  .threshold_slider {
	float: left;
	width:110px;
	position:relative;
	top: 6px;
	left: 0px;
	display:block;
	height: 5px;
	border-radius:7px;
	box-shadow:inset 0 1px 0 #F9D7C5;
	position:relative;
	padding-left: 15px;
	overflow:visible !important;
}

.ui-slider-handle {
	border-radius:15px;
	border:5px solid #444444;
	width:13px !important;
	height:13px !important;
	box-shadow:0 0 1px #555;
	position:absolute;
}
	
svg { 
	overflow: hidden; /*IE10*/
	cursor: default;
}

#back {
	font-family: sans-serif;
	font-size: 12px;
	text-anchor: middle;
	fill: black;
	font-weight: bold;
}

#details {
	
}

#dirtyNumbers {
	font-family: "Courier New";
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 10px;
	padding-left: 15px;
	border: 1px solid black;
	max-width: 200px;
	min-width: 200px;
	min-height: 200px;
	max-height: 200px;
	text-align: left;
	background: #DDDDDD;
}

.hoverable {
	stroke-width: 1;
	stroke: gray;
}

.hoverable:hover {
	fill-opacity: .8;
	stroke-width: 1;
	stroke: black;
}

.notdefined {
	stroke-width: 1;
	stroke: gray;
	fill: #FFFFFF;
}

.backbutton:hover {
	opacity: .8;
}

/* 10 buckets beige to blue for processes */

.p1 {
	fill: #BFEFFF
}

.p2 {
	fill: #99E5FF
}

.p3 {
	fill: #73DCFF
}

.p4 {
	fill: #4CD2FF
}

.p5 {
	fill: #26C9FF
}

.p6 {
	fill: #00BFFF
}

.p7 {
	fill: #00A3D9
}

.p8 {
	fill: #0086B3
}

.p9 {
	fill: #00698C
}

.p10 {
	fill: #004D66
}

/* 10 buckets green to red for heatmap */

.h1 {
	fill: #00FF00;
}

.h2 {
	fill: #40FF00;
}

.h3 {
	fill: #80FF00;
}

.h4 {
	fill: #BFFF00;
}

.h5 {
	fill: #FFFF00;
}

.h6 {
	fill: #FFBF00;
}

.h7 {
	fill: #FF8000;
}

.h8 {
	fill: #FF5C26;
}

.h9 {
	fill: #FF4000;
}

.h10 {
	fill: #FF0000;
}