body {
	background: #eee;
	color: #000000;
	font-family: "Arial";
}

#header{
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border: 1px solid gray;
	border-radius: 5px;
	font-weight: bold;
	color: #00ccff;
	font-size: 20px;
	text-align: center;
	padding: 10px;
}

#mainDiv {
	width: 960px;
	margin-left: auto ;
	margin-right: auto ;
	padding: 10px;
	overflow: hidden;
}

.bellsnwhistles {
	border: 1px solid gray;
	width: 217px;
	/* height: 347px; */
	float: left;
	padding: 20px;
	margin: 20px;
	font-size: 12px;
	background: #fff;
	border-radius: 5px;
}

.slider_title {
	text-align: center;
	min-width: 200px;
}

#bellsnwhistles #slider_value {
	overflow: hidden;
	position: relative;
	text-align: center;
	left: 15px;
	top: 3px;
	width: 60px;
	color: black;
	border: 1px solid black;
	background: #ffffff;
}

.label {
	float: left;
	padding-top: 3px;
	padding-right: 10px;
}

.combolabel {
	float: left;
	padding-top: 3px;
	padding-right: 10px;
}

.combobox {
	padding-bottom: 10px;
}

.tcombobox {
	padding: 5px;
}

#appcontainer {
	border-radius: 5px;
	margin: 20px;
	padding: 20px;
	overflow: hidden;
	border: 1px solid gray;
	background: #fff;
}

#threshold_slider {
	padding-bottom: 10px;
}

.slider {
	float: left;
	width:110px;
	position:relative;
	top: 8px;
	left: 0px;
	height: 4px;
	border-radius:7px;
	box-shadow:inset 0 1px 0 #F9D7C5;
	position:relative;
	padding-left: 15px;
	overflow:visible !important;
}

.tooltip {
	color: black;
	position: absolute;
	text-align: left;
	min-width: 140px;
	padding: 8px;
	font: 10px sans-serif;
	background: #eee;
	border: solid 1px #aaa;
	border-radius: 8px;
	pointer-events: none;
	overflow: hidden;
	white-space: nowrap;
}

.ui-slider-handle {
	top: -5px !important;
}

.slider-value {
	overflow: hidden;
	position: relative;
	text-align: center;
	left: 15px;
	top: 3px;
	width: 60px;
	color: black;
	border: 1px solid black;
	background: #ffffff;
}


#proc_threshold_slider {
	padding-top: 5px;
	padding-bottom: 10px;
}

#socket_threshold_filter {
	padding-top: 5px;
	padding-bottom: 10px;
}

.ui-slider-handle {
	border-radius:15px;
	border:5px solid #444444;
	width:13px !important;
	height:13px !important;
	box-shadow:0 0 1px #555;
	position:absolute;
}
	
svg { 
	overflow: visible; /*IE10*/
	cursor: default;
}

#textBox {
	margin-bottom: 10px;
}

.bells-label {
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	font-size: 15px;
	background-color: #eee;
	border: 1px solid gray;
}

.dirty-numbers {
	margin: 0 auto;
	color: black;
	font-family: "Courier New";
	font-size: 12px;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	padding-top: 10px;
	padding-left: 15px;
	border: 1px solid gray;
	max-width: 200px;
	min-width: 200px;
	min-height: 200px;
	max-height: 200px;
	text-align: left;
	background: #eee;
}

.quick-num {
	text-anchor: middle; 
	font-size: 10px !important;
	font-weight: normal;
	font-family: "Courier New";
	fill: gray !important;
}

.dirty-numbers#server-numbers {
	
	overflow-x: auto;
	overflow-y: auto;
	text-align: left;
}

.hoverable {
	stroke-width: 1;
	stroke: gray;
}

/* .hoverable:hover {
	fill-opacity: .8;
	stroke-width: 2;
	stroke: black;
} */

.notdefined {
	stroke-width: 1;
	stroke: gray;
	fill: #FFFFFF;
}

.backbutton rect {
	stroke-width: 1px;
	stroke: gray;
	fill: #eee;
}

.backbutton:hover {
	opacity: .8;
}