body {
	background: #000000;
	color: #FF6600;
	font-family: "Courier New";
}

#header{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #444444;
	color: #FF6600;
	font-size: 20px;
	text-align: center;
	padding: 10px;
}

#mainDiv {
	width: 960px;
	margin-left: auto ;
	margin-right: auto ;
	padding: 10px;
	overflow: hidden;
}

.bellsnwhistles {
	width: 217px;
	height: 347px;
	float: left;
	padding: 20px;
	margin: 20px;
	font-size: 12px;
	background: #444444;
}

#bellsnwhistles .slider_title {
	text-align: center;
	min-width: 200px
}

#bellsnwhistles #slider_value {
	overflow: hidden;
	position: relative;
	text-align: center;
	left: 15px;
	top: 3px;
	width: 60px;
	color: black;
	border: 1px solid black;
	background: #ffffff;
}

.combolabel {
	float: left;
	padding-top: 3px;
	padding-right: 10px;
}

.combobox {
	padding-bottom: 10px;
}

.tcombobox {
	padding: 5px;
}

#appcontainer {
	margin: 20px;
	padding: 20px;
	overflow: hidden;
	background: #444444;
}

#threshold_slider {
	padding-bottom: 10px;
}

#bellsnwhistles  .threshold_slider {
	float: left;
	width:110px;
	position:relative;
	top: 8px;
	left: 0px;
	display:block;
	height: 4px;
	border-radius:7px;
	box-shadow:inset 0 1px 0 #F9D7C5;
	position:relative;
	padding-left: 15px;
	overflow:visible !important;
}

.ui-slider-handle {
	top: -5px !important;
}

#processbells  .proc_threshold_slider {
	float: left;
	width:110px;
	position:relative;
	top: 8px;
	left: 0px;
	display:block;
	height: 4px;
	border-radius:7px;
	box-shadow:inset 0 1px 0 #F9D7C5;
	position:relative;
	padding-left: 15px;
	overflow:visible !important;
}

#processbells #proc_slider_value {
	overflow: hidden;
	position: relative;
	text-align: center;
	left: 15px;
	top: 3px;
	width: 60px;
	color: black;
	border: 1px solid black;
	background: #ffffff;
}

#proc_threshold_slider {
	padding-top: 5px;
	padding-bottom: 10px;
}

.ui-slider-handle {
	border-radius:15px;
	border:5px solid #444444;
	width:13px !important;
	height:13px !important;
	box-shadow:0 0 1px #555;
	position:absolute;
}
	
svg { 
	overflow: hidden; /*IE10*/
	cursor: default;
}

.dirty-numbers {
	color: black;
	font-family: "Courier New";
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 10px;
	padding-left: 15px;
	border: 1px solid black;
	max-width: 200px;
	min-width: 200px;
	min-height: 200px;
	max-height: 200px;
	text-align: left;
	background: #DDDDDD;
}

.hoverable {
	stroke-width: 1;
	stroke: gray;
}

.hoverable:hover {
	fill-opacity: .8;
	stroke-width: 2;
	stroke: black;
}

.notdefined {
	stroke-width: 1;
	stroke: gray;
	fill: #FFFFFF;
}

.backbutton {
	border: 5px solid black;
}

.backbutton:hover {
	opacity: .8;
}