body {
	background: #EEEEEE;
}

#mainDiv {
	overflow: hidden;
}

#bellsnwhistles {
	float: left;
	padding: 20px;
}

#bellsnwhistles .slider_title {
	text-align: center;
	min-width: 200px
}

#bellsnwhistles .slider_value {
	overflow: hidden;
}

#appcontainer {
	overflow: hidden;
}

#bellsnwhistles  .threshold_slider {
	float: left;
	width:110px;
	position:relative;
	/* margin-top:5px; */
	display:block;
	/* height:100%; */
	height: 5px;
	border-radius:7px;
	box-shadow:inset 0 1px 0 #F9D7C5;
	position:relative;
	/* z-index:1; */
	overflow:visible !important;
}

.ui-slider-handle {
	border-radius:15px;
	/* background-image: none !important; */
	/* background: #FF4000 !important; */
	border:5px solid #444444;
	width:13px !important;
	height:13px !important;
	box-shadow:0 0 1px #555;
	position:absolute;
	right:0;
	/* top:-5px; */
}
	
svg { 
	overflow: hidden; /*IE10*/
}

#back {
	font-family: sans-serif;
	font-size: 12px;
	text-anchor: middle;
	fill: black;
	font-weight: bold;
}

#dirtyNumbers {
	border: 1px solid black;
	max-width: 200px;
	min-width: 200px;
	/* white-space: nowrap; */
	/* overflow:scroll; */
	min-height: 400px;
	max-height: 400px;
	background: #DDDDDD;
}

.hoverable {
	stroke-width: 1;
	stroke: gray;
/* 	width: 40px;
	height: 45px; */
}

.hoverable:hover {
	fill-opacity: .8;
	/* transition-property: fill-opacity, stroke-width, stroke; */
	/* transition-duration: .5s */
	stroke-width: 3;
	stroke: black;
}

.notdefined {
/* 	width: 40px;
	height: 40px; */
	stroke-width: 1;
	stroke: gray;
	fill: #FFFFFF;
}

/* 10 buckets green to red */

.q1 {
	fill: #00FF00;
}

.q2 {
	fill: #40FF00;
}

.q3 {
	fill: #80FF00;
}

.q4 {
	fill: #BFFF00;
}

.q5 {
	fill: #FFFF00;
}

.q6 {
	fill: #FFBF00;
}

.q7 {
	fill: #FF8000;
}

.q8 {
	fill: #FF8000;
}

.q9 {
	fill: #FF4000;
}

.q10 {
	fill: #FF0000;
}

.q11 {
	fill: #9E0142;
}